rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.role == 'admin';
    }

    match /drugs/{drugId} {
      allow read: if isAuthenticated();
      allow create, update, delete: if isAdmin();
    }

    match /userRoles/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
      allow read: if isAdmin();
      allow create: if isAuthenticated() && request.auth.uid == userId && request.resource.data.role == 'user';
      allow update: if isAuthenticated() && request.auth.uid == userId && (
          (request.resource.data.role == 'user' && resource.data.role == 'user') ||
          (request.resource.data.role == 'admin' && resource.data.role == 'admin')
      );
      allow update: if isAdmin();
    }

    match /favoriteDrugs/{favoriteDrugId} {
      allow read: if isAuthenticated();
      allow create, delete: if isAuthenticated();
    }

    // User-specific data under artifacts/{appId}/users/{userId}
    match /artifacts/{appId}/users/{userId}/{document=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
